:root {
  --animation: 200ms;
}
$mainColor : rgba(18, 23, 35, 1);
$lightBlack: rgba(41, 46, 57, 1);
$textGray: rgba(161, 166, 180, 1);
$shadeGray: rgba(210, 213, 221, 1);
$liteColor: rgba(230, 232, 236, 1);
$liteColorTransparent: #f5f6f7;
$primary: rgba(109, 49, 238, 1);
$primaryLight: rgba(170, 157, 250 , 1);
$primaryLightFocus: rgba(170, 157, 250 , 0.3);
$primaryShade: rgba(79, 40, 165, 1);
$promoColor: rgba(240, 210, 136, 1);
$white: rgba(255, 255, 255, 1);
$veryLowFS: 9px;
$lowFS: 12px;
$lowPreFS: 14px;
$mainFS: 16px;
$secondFS: 20px;
$secondPreFS: 24px;
$headingFS: 48px;
$H1FS: 60px;
$fwLite: 300;
$fwRegular: 400;
$fwNormal: 500;
$fwBold: 700;
$lhMain: 1;
$lhSecond: 1.5;

$bRadiusBig: 100px;
$bRadiusMedium: 77px;
$bRadiusSmall: 40px;

$transDuration: var(--animation);
$timingFunc: ease-in;