.about__us {
  color: var(--textGray);
  padding: 94px 0 91px;
  background-color: var(--mainColor);
}

.about__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 19px;
}

.about__intro__content {
  width: 58%;
}

.about__title {
  font-weight: 400;
  font-size: var(--headingFS);
  line-height: 1;
  color: var(--white);
  margin-bottom: 13px;
}

.about__second__title {
  font-weight: 700;
  font-size: var(--secondFS);
  line-height: 1.5;
  color: inherit;
  margin-bottom: 18px;
}

.about__text {
  font-weight: 400;
  font-size: var(--secondFS);
  line-height: 1.6;
  color: inherit;
}

.about__intro__decor {
  width: 40.1%;
  height: 290px;
}

.about__intro__decor::after {
  margin-left: auto;
  display: block;
  content: '';
  width: 255px;
  height: 100%;
  background: left 50% url(../img/aboutUs/rays.png) no-repeat;
}

.about__big_1 {
  background: left url(../img/aboutUs/spiral.png) no-repeat;
}

.about__cards__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__card {
  width: 255px;
  height: auto;
  margin-bottom: 30px;
}

.about__card__photo {
  display: block;
  margin-bottom: 32px;
}

.about__card__name {
  font-weight: 500;
  font-size: var(--secondFS);
  line-height: 1;
  margin-bottom: 7px;
  color: inherit;
}

.about__card__desc {
  font-weight: 400;
  font-size: var(--mainFS);
  line-height: 24px;
  color: var(--textGray);
}

.about__form__cointain {
  display: block;
  max-width: 920px;
}

.about__input {
  border: 1px solid var(--white);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  padding: 10px 10px 10px 32px;
  background-color: transparent;
  font-weight: 400;
  font-size: var(--secondFS);
  line-height: 1;
  color: var(--white);
  min-height: 70px;
}

.about__input::-webkit-input-placeholder {
  color: var(--textGray);
}

.about__input:-ms-input-placeholder {
  color: var(--textGray);
}

.about__input::-ms-input-placeholder {
  color: var(--textGray);
}

.about__input::placeholder {
  color: var(--textGray);
}

.about__form__message {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 30px 10px 10px 32px;
  resize: vertical;
  width: 100%;
  min-height: 150px;
  margin-bottom: 28px;
}

.about__info__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  margin-bottom: 30px;
}

.about__form__name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 40px;
  max-width: 445px;
}

.about__form__email {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 40px;
  max-width: 445px;
}

.about__btn {
  display: block;
  font-weight: 500;
  font-size: var(--secondFS);
  line-height: 1;
  color: var(--white);
  border: none;
  padding: 25px 54px;
  margin-bottom: 29px;
}

.about__checkbox__label {
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  color: var(--white);
  cursor: pointer;
  position: relative;
  padding: 0 0 0 22px;
}

.about__checkbox {
  display: none;
}

.about__checkbox + span {
  position: absolute;
  top: -3px;
  left: 0;
  width: 14px;
  height: 14px;
}

.about__checkbox + span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--textGray);
  width: 12px;
  height: 12px;
}

.about__checkbox:checked + span::before {
  background: center url(../img/aboutUs/checksvg.svg) no-repeat;
}
/*# sourceMappingURL=about-us.css.map */