

/* up */

.header__up__section {
  display: none;
}

.header__btn__up {
  display: none;
}

/* midle */

.header__midle__section {
  background-color: #fff;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header__logo__svg {
  width: 160px;
  height: 20px;
}

.header__nav__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 638px;
}

.header__nav__link {
  font-size: var(--secondFS);
  line-height: 1;
}

.burger {
  display: none;
  width: 24px;
  height: 24px;
  position: relative;

}

.burger::before {
  position: absolute;
  content: '';
  width: 24px;
  height: 3px;
  background-color: var(--primary);
  border-radius: 4px;
  left: 0px;
  top: 0;
}

.burger::after {
  position: absolute;
  content: '';
  width: 24px;
  height: 3px;
  background-color: var(--primary);
  border-radius: 4px;
  left: 0px;
  top: 88%;
}

.burger__midle::before {
  position: absolute;
  content: '';
  width: 24px;
  height: 3px;
  background-color: var(--primary);
  border-radius: 4px;
  left: 0px;
  top: 44%;
}

.header__group__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 152px;
}

.header__search__svg {
  width: 24px;
  height: 24px;
}

.header__btn {
  width: 104px;
  height: 40px;

  color: inherit;
  font-size: var(--mainFS);

  border: 2px solid var(--mainColor);
  background-color: transparent;
}

/* footer */

.header__footer__section {
  background: #fff;
  border: 1px solid rgba(230, 232, 236, 1);
}

.header__nav__second {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 58px;
}

.nav__second__links {
  width: 611px;
  display: flex;
  justify-content: space-between;
}

.header__players__contain {
  display: flex;
  border-right: 1px solid rgba(230 232 236 / 1);
}

.header__player__panel {
  display: none;
}

.btn__play__svg {
  width: 20px;
  height: 20px;
}

.header__player {
  border-left: 1px solid rgba(230 232 236 / 1);
  display: flex;
  width: 174px;
  height: 40px;
}

/* .player__btn__contain {
  padding: 5px 0 0 12px;
} */

.header__player__content {
  padding: 3px 0 0 10px;
}

.player__content__title {
  color: var(--textGray);
  font-size: 12px;
  line-height: 1;
  margin-bottom: 5px;
}

.player__content__text {
  font-size: var(--mainFS );
  line-height: 1;
}

.header__age {
  position: relative;
  background-color: rgba(230 232 236 / 1);
  width: 46px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__age::before {
  content: '12+';
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50%;

  font-family: Open Sans;
  color: var(--textGray);
  font-size: 12px;
  line-height: 16px;
}

/* 1024px */
@media ( max-width: 1200px ) {

  /* up */
  .header__up__section {
    display: block;
  }

  .header__up__content {
    display: flex;
    align-items: center;
    height: 60px;
  }

  /* middle */

  .header__logo__svg {
    display: none;
  }

  .header__nav__links {
    margin-right: 10px;
  }

  /* footer */

  .nav__second__links {
    width: 487px;
    margin-right: 10px;
  }

  .header__player {
    width: 150px;
  }

  .header__age {
    display: none;
  }
}


/* 768 */
@media ( max-width: 890px ) {

  /* middle */
  .burger {
    display: block;
  }

  .header__nav__links {
    display: none;
  }


  /* footer */
  .nav__second__links {
    margin-right: 26px;
    width: 495px;
  }

  .header__players__contain {
    border: none;
  }

  .header__player__content {
    display: none;
  }

  .header__player {
    border: none;
    width: 20px;
  }

  .header__player:last-child {
    display: none;
  }

  .player__btn__contain {
    padding-left: 0;
  }
}


/* 320 */
@media ( max-width: 500px ) {
  /* up */

  .header__up__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
  }

  .header__logo__up {
    width: 88px;
  }

  .header__btn__up {
    display: block;
  }

  .header__btn {
    width: 87px;
    height: 35px;
  }
  /* middle */

  .header__nav {
    height: 50px;
  }

  .header__group__btn {
    width: auto;
  }

  .header__btn__middle {
    display: none;
  }

  /* footer */

  .header__player__panel {
    display: flex;
    align-items: center;
  }

  .header__nav__second {
    height: 43px;
    justify-content: center;
  }

  .nav__second__links {
    display: none;
  }

  .header__player {
    display: none;
  }

  .header__plaer__svg {
    /* transform: rotate(0.12turn); */
    transform: rotateZ(45deg)
  }

  .header__player__qestion {
    color: var(--primary);
    font-weight: 500;
    padding-left: 5px;
  }

}
