
.hero {
  background-color: #fff;
}

.hero__box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 450px;
  background: right url(../img/hero/microphone.png) no-repeat;
}

.hero__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1;
  color: var(--mainColor);
  margin-bottom: 14px;
}

.hero__title__style {
  font-weight: 400;
  font-style: italic;
}

.hero__text {
  max-width: 635px;
  line-height: 1.5;
  color: var(--mainColor);
  margin-bottom: 45px;
}

.hero__text__link {
  color: var(--primary);
}

.hero__btn {
  width: 245px;
  height: 70px;

  font-size: var(--secondFS);
  line-height: 1;
  color: #fff;

  background: var(--primary);
  border-radius: 40px;
}


/* 1024px */
@media ( max-width: 1200px ) {

  .hero__box {
    height: 442px;
    background: right / 31% url(../img/hero/microphone.png) no-repeat;
  }

  .hero__text {
    max-width: 540px;
    margin-bottom: 20px;
    line-height: 1.5;
  }

}


/* 768 */
@media ( max-width: 890px ) {
  .hero__box {
    background: transparent;
  }
}


/* 320 */
@media ( max-width: 500px ) {

  .hero__box {
    height: 337px;
  }

  .hero__title {
    font-size: 32px;
    margin-bottom: 8px;
  }

  .hero__title__style {
    font-size: 32px;
  }

  .hero__text {
    /* max-width: 635px; */
    font-size: 14px;
    margin-bottom: 20px;
  }

  .hero__text__link {
    color: var(--primary);
  }

  .hero__btn {
    width: 200px;
    height: 50px;
    font-size: 16px;
  }

}
