.btn {
  color: inherit;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition-property: color, background-color, border;
  @include transition;

  &_login {
    border: 2px solid $dark;
    border-radius: 77px;
    &:focus {
      outline: none;
      background-color: $primary-light;
    }
    &:hover {
      color: $white;
      background-color: $dark;
    }
    &:active {
      background-color: $primary-shade;
      color: $white;
      border-color: $primary-shade;
    }
  }

  &_primary {

  }
}