.aboutus {
  color: $white;
  padding: 94px 0 91px;
  background-color: $dark;

  &__intro {
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;

    &-content {
      width: 58%;
    }
  }

  &__title {
    color: $white;
    margin-bottom: 13px;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 18px;
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
  }

  &__img {
    width: 40.1%;
    height: 290px;
    background: left url(../assets/images/aboutus/spiral.png) no-repeat;

    &::after {
      content: "";
      display: block;
      margin-left: auto;
      width: 255px;
      height: 100%;
      background: left 50% url(../assets/images/aboutus/rays.png) no-repeat;
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 28px;
  }

  &__card {
    max-width: 255px;

    &-photo {
      margin-bottom: 32px;
    }

    &-name {
      font-weight: 500;
      font-size: 20px;
      line-height: 1;
      margin-bottom: 7px;
    }

    &-desc {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__input {
    border: 1px solid $white;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 10px 32px;
    background-color: transparent;

    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    color: $white;

    min-height: 70px;
  }

  &__form {
    display: block;
    max-width: 920px;

    &-message {
      font-size: 16px;
      line-height: 16px;
      padding: 30px 32px;
      resize: vertical;
      width: 100%;

      min-height: 150px;
      margin-bottom: 28px;
    }

    &-person {
      display: flex;
      justify-content: space-between;
      padding: 0;
      border: none;
      width: 100%;
      margin-bottom: 30px;
    }

    &-name,
    &-email {
      flex: 1;
      border-radius: 40px;
      max-width: 445px;
    }
  }

  &__btn {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    padding: 24px 53px;
    margin-bottom: 27px;
  }

  &__checkbox {
    display: none;

    & + span {
      position: absolute;
      top: -3px;
      left: 0;
      width: 14px;
      height: 14px;
    }

    & + span::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid $text-gray;
      width: 14px;
      height: 14px;
    }
    & + span::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 14px;
      height: 14px;
    }

    &:checked + span::after {
      @include scaleUp;
      background: center url(../assets/images/aboutus/checksvg.svg) no-repeat;
    }

    &-label {
      font-weight: 500;
      font-size: 12px;
      line-height: 1;
      color: $white;

      cursor: pointer;
      position: relative;
      padding: 0 0 0 22px;
    }
  }
}

// !MEDIA
@media (max-width: 1249px) {
  .aboutus {
    &__intro {
      margin-bottom: 29px;
      &-content {
        width: 75%;
      }
    }

    &__subtitle {
      margin-bottom: 9px;
    }

    &__img {
      height: auto;
      background: none;
    }

    &__card {
      max-width: 397px;
      &:not(:nth-child(n + 3)) {
        margin-bottom: 30px;
      }

      &-photo {
        margin-bottom: 31px;
      }
    }

    &__form-message {
      margin-bottom: 29px;
    }

    &__form-name,
    &__form-email {
      max-width: 397px;
    }
  }
}

@media (max-width: 1000px) {
  .aboutus {
    &__subtitle {
      margin-bottom: 8px;
    }

    &__img {
      position: relative;
      width: calc(142px + 100%);
      height: 114px;
      background: 100% 50% url(../assets/images/aboutus/rays2.png) no-repeat;
      margin-left: -142px;

      &::after {
        width: 100%;
        height: 114px;
        position: absolute;
        background: 9% 50% url(../assets/images/aboutus/spiral2.png) no-repeat;
        margin-left: 0;
      }
    }

    &__intro {
      flex-direction: column;
      &-content {
        width: auto;
        margin-bottom: 29px;
      }
    }

    &__card {
      max-width: 255px;
    }

    &__form {
      &-person {
        flex-direction: column;
        margin-bottom: 29px;
      }

      &-name,
      &-email {
        max-width: none;
      }

      &-name {
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width: 580px) {
  .aboutus {
    padding: 55px 0 52px;

    &__intro {
      margin-bottom: 27px;

      &-content {
        margin-bottom: 2px;
      }
    }

    &__title {
      font-size: 24px;
      margin-bottom: 12px;
    }

    &__subtitle {
      font-size: 14px;
      margin-bottom: 4px;
    }

    .aboutus__text {
      font-size: 14px;
      line-height: 1.57;
    }

    &__img {
      display: none;
    }

    &__cards {
      max-width: 284px;
    }

    &__card {
      max-width: 113px;

      &-photo {
        margin-bottom: 13px;
      }

      &-name {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 4px;
      }

      &-desc {
        font-size: 12px;
        line-height: 16px;
      }
    }

    &__input {
      font-size: 16px;
      padding: 10px 10px 10px 23px;
      border-radius: 40px;
    }

    &__form {
      &-message {
        padding: 17px 23px;
        border-radius: 20px;
      }

      &-name,
      &-email {
        padding: 15px 23px;
        min-height: auto;
      }
    }

    &__btn {
      font-size: 16px;
      padding: 15px 43px;
      margin-bottom: 17px;
    }

    .aboutus__checkbox {
      & + span,
      & + span::after,
      & + span::before {
        width: 13px;
        height: 13px;
      }

      &-label {
        font-size: 9px;
      }
    }
  }
}
