<section class="aboutus" id="aboutus">
  <div class="container">
    <div class="aboutus__wrapper">
      <div class="aboutus__intro">
        <div class="aboutus__intro-content">
          <h2 class="aboutus__title title-h2">О нас</h2>
          <h3 class="text text_color_gray aboutus__subtitle">Приём-приём! Как слышно? Мы уже в эфире? Отлично, поехали!</h3>
          <p class="text text_color_gray aboutus__text">
            Друзья, мы будем очень рады, если вы поможете стать нам лучше. Нам важен каждый слушатель, поэтому вы
            можете
            поделиться обратной связью о наших предеачах, темах, подборках и вообще обо всём! Это можно сделать либо
            написав нам в форме ниже, либо кликнув на наши соцсети в подвале сайта. Спасибо! Услышимся! :)
          </p>
        </div>
        <div class="aboutus__img"></div>
      </div>

      <div class="aboutus__cards">
        <div class="aboutus__card">
          <picture>
            <source media="(max-width: 580px)" srcset="../../assets/images/aboutus/1_320.png">
            <source media="(max-width: 1000px)" srcset="../../assets/images/aboutus/1.png">
            <source media="(max-width: 1249px)" srcset="../../assets/images/aboutus/1_1024.png">
            <img class="aboutus__card-photo" src="../../assets/images/aboutus/1.png" alt="photo team">
          </picture>
          <h3 class="aboutus__card-name">Дмитрий Гутенберг</h3>
          <p class="text text_color_gray aboutus__card-desc">Эксперт (ну, почти) по&nbsp;всем вопросам (почти).</p>
        </div>
        <div class="aboutus__card">
          <picture>
            <source media="(max-width: 580px)" srcset="../../assets/images/aboutus/2_320.png">
            <source media="(max-width: 1000px)" srcset="../../assets/images/aboutus/2.png">
            <source media="(max-width: 1249px)" srcset="../../assets/images/aboutus/2_1024.png">
            <img class="aboutus__card-photo" src="../../assets/images/aboutus/2.png" alt="photo team">
          </picture>
          <h3 class="aboutus__card-name">Анна Васильева</h3>
          <p class="text text_color_gray aboutus__card-desc">Как я&nbsp;здесь оказалась? А&nbsp;главное&nbsp;&mdash; зачем?</p>
        </div>
        <div class="aboutus__card">
          <picture>
            <source media="(max-width: 580px)" srcset="../../assets/images/aboutus/3_320.png">
            <source media="(max-width: 1000px)" srcset="../../assets/images/aboutus/3.png">
            <source media="(max-width: 1249px)" srcset="../../assets/images/aboutus/3_1024.png">
            <img class="aboutus__card-photo" src="../../assets/images/aboutus/3.png" alt="photo team">
          </picture>
          <h3 class="aboutus__card-name">Пётр Дмитриевский</h3>
          <p class="text text_color_gray aboutus__card-desc">Господа! Внимание!! Благодарю за&nbsp;внимание!!!</p>
        </div>
        <div class="aboutus__card">
          <picture>
            <source media="(max-width: 580px)" srcset="../../assets/images/aboutus/4_320.png">
            <source media="(max-width: 1000px)" srcset="../../assets/images/aboutus/4.png">
            <source media="(max-width: 1249px)" srcset="../../assets/images/aboutus/4_1024.png">
            <img class="aboutus__card-photo" src="../../assets/images/aboutus/4.png" alt="photo team">
          </picture>
          <h3 class="aboutus__card-name">Татьяна Флеганова</h3>
          <p class="text text_color_gray aboutus__card-desc">Одна я&nbsp;в&nbsp;пальто стою красивая, а&nbsp;вокруг...</p>
        </div>
      </div>

      <form class="aboutus__form" action="https://jsonplaceholder.typicode.com/posts" method="post">
        <textarea class="aboutus__form-message aboutus__input" name="message" placeholder="Что скажете?"></textarea>
        <div class="aboutus__form-person">
          <input class="aboutus__form-name aboutus__input" type="text" name="name" placeholder="Имя">
          <input class="aboutus__form-email aboutus__input" type="text" name="e-mail" placeholder="E-mail">
        </div>
        <input class="btn btn_primary_main aboutus__btn" type="submit" value="Отправить">
        <label for="about-checkbox" class="aboutus__checkbox-label">
          <input type="checkbox" name="aboutus__checkbox" class="aboutus__checkbox" id="about-checkbox" checked>
          Согласен на обработку персональных данных
          <span></span>
        </label>
      </form>
    </div>
  </div>
</section>