.product {
  padding: 94px 0 134px;
  background-color: var(--lightBlack);
  color: var(--white);
}

.product__wrapper {
  display: flex;
  justify-content: space-between;
}

.product__contain__slider {
  // min-width: 50%;
  width: 640px;
  height: 562px;
  // padding: 8px 0px 0 0;
  margin-left: -5px;
}

.product__slide__img {
  display: block;
  padding-top: 8px;
  padding-bottom: 51px;
}

.product__content {
  max-width: 445px;
}

.product__title {
  font-weight: 400;
  font-size: var(--headingFS);
  line-height: 1;
  color: var(--promoColor);
  margin-bottom: 18px;
}

.product__wawe {
  border: none;
  margin: 0;
  width: auto;
  height: 12px;
  background: url(../img/product/wawe.png) no-repeat;
  margin-bottom: 18px;
}

.product__desc {
  font-weight: 400;
  font-size: var(--mainColor);
  line-height: 1.8;
  margin-bottom: 13px;
}

.product__desc_custom_stule {
  font-weight: 500;
  color: var(--promoColor );
}

.product__desc-margin {
  margin-bottom: 31px;
}

.product__cost {
  font-weight: 500;
  font-size: 30px;
  line-height: 1;
  color: var(--white);
  margin-bottom: 30px;
}

.product__buy {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: var(--secondFS);
  line-height: 1;
  color: var(--promoColor);

  border-radius: 100px;
  border: 1px solid var(--promoColor);
  padding: 23px 12px;
}

.product__buy__svg {
  margin-right: 8px;
}

.product__slide__new {
  position: absolute;
  top: 0;
  left: 0;
}

// bullets slider

.swiper-horizontal > .swiper-pagination-bullets {
  bottom: 0;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  opacity: 1;
  position: relative;
}

// .swiper-pagination-bullet-active::after

.swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  content: '';
  top: 30%;
  left: 30%;
  width: 6px;
  height: 6px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(30, 13, 68, 0.8);
  background-color: var(--promoColor);
}

.swiper-pagination-bullet:first-child {
  background: #874158;
}

.swiper-pagination-bullet:nth-child(2n){
  background: #006E7B;
}

.swiper-pagination-bullet:last-child {
  background: #1D6C4E;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 15px;
}