@font-face {
  font-family: 'Muller';
  src: local('Muller Light'),
  local('MullerLight'),
  url('../assets/fonts/MullerLight.woff2') format('woff2'),
  url('../assets/fonts/MullerLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller Light Italic'), local('MullerLightItalic'),
  url('../assets/fonts/MullerLightItalic.woff2') format('woff2'),
  url('../assets/fonts/MullerLightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller Regular'), local('Muller-Regular'),
  url('../assets/fonts/MullerRegular.woff2') format('woff2'),
  url('../assets/fonts/MullerRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller Regular Italic'), local('Muller-Regular-Italic'),
  url('../assets/fonts/MullerRegularItalic.woff2') format('woff2'),
  url('../assets/fonts/MullerRegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller Medium'), local('Muller-Medium'),
  url('../assets/fonts/MullerMedium.woff2') format('woff2'),
  url('../assets/fonts/MullerMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller Bold'), local('Muller-Bold'),
  url('../assets/fonts/MullerBold.woff2') format('woff2'),
  url('../assets/fonts/MullerBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
