// @keyframes scaleCheck {
//   from {
//     background: center center / 0 url(../img/aboutUs/checksvg.svg) no-repeat;
//   }

//   to {
//     background: center center / 10px url(../img/aboutUs/checksvg.svg) no-repeat;
//   }
// }


@keyframes opacityAnim {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scaleLoop {
  from {
    transform: scale3d(.9, .9, .9);
  }

  to {
    transform: scale3d(.9, .9, .9);
  }

  50% {
    transform: scale3d(1, 1, 1);
  }
}