

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

$dark: rgb(18, 23, 35);
$dark-lite: rgb(41, 46, 57);
$text-gray: rgb(161, 166, 180);
$shade-gray: rgb(210, 213, 221);

$lite-color: rgb(230, 232, 236);
$lite-color-transparent: rgba(230, 232, 236, .4);

$primary: rgb(109, 49, 238);
$primary-light: rgb(170, 157, 250);
$primary-light-focus: rgba(170, 157, 250, .3);
$primary-shade: rgb(79, 40, 165);
$promo: rgb(240, 210, 136);
$promo-shade: rgb(187, 151, 62);
