
@import 'var';
@import 'mixins';
@import 'resset';
@import 'fonts';

@import './components/link/link';
@import './components/buttons/btns';
@import './components/nav/nav';
@import './components/search/search';
@import './components/burger/burger';
@import './components/player/player';
@import './components/age/age';

@import './components/_header/header';
@import './components/_hero/hero';



body {
  font-family: Muller, Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: $lite-color;
  min-width: 320px;
}

.container {
  margin: 0 auto;
  max-width: 1310px;
  padding: 0 100px;
}

@media ( max-width: 890px ) {
  .container {
    padding: 0 114px;
  }
}
@media ( max-width: 750px ) {
  .container {
    padding: 0 32px;
}
}









// !MEDIA
@media (max-width: 1249px) {}
@media (max-width: 1000px) {}
@media (max-width: 890px) {}
@media (max-width: 580px) {}
@media (max-width: 532px) {}