@import 'var';
@import 'mixins';
@import 'keyframes';
@import 'resset';
@import 'fonts';

@import 'container';

@import '../components/text/text';
@import '../components/link/link';
@import '../components/btn/btn';
@import '../components/nav/nav';
@import '../components/search/search';
@import '../components/burger/burger';
@import '../components/player/player';
@import '../components/age/age';
@import '../components/panel/panel';
@import '../components/select/select';
@import '../components/accordion/accordion';
@import '../components/social/sociasl';

@import '../components/_header/header';
@import '../components/_hero/hero';
@import '../components/_podcast/podcast';
@import '../components/_transmission/transmission';
@import '../components/_guest/guest';

button,
a,
.player {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Muller, Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: $lite-color;
  min-width: 320px;
  color: $dark;
 
}

// !MEDIA
@media (max-width: 1249px) {}

@media (max-width: 1000px) {}

@media (max-width: 890px) {}

@media (max-width: 580px) {}

@media (max-width: 532px) {}