.header {
  display: flex;
  flex-direction: column;

  &__section {
    background-color: $white;

    &-top {
      display: none;
      background-color: transparent;
    }

    &-bottom {
      border-top: 1px solid $lite-color;
      border-bottom: 1px solid $lite-color;
    }
  }

  &__container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }

  &__login-top {
    display: none;
    padding: 6px 22px;
  }

  &__container-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    height: 100%;
  }

  &__login-middle {
    padding: 10px 31px;
  }

  &__nav-middle {
    width: 100%;
    max-width: 638px;
    margin-right: 14px;
  }

  &__list-middle {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__link-middle {
    font-size: 20px;
  }

  &__btns-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 152px;
  }

  &__burger {
    display: none;
  }

  // bottom

  &__container-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    min-height: 60px;
  }

  &__nav-bottom {
    flex: 0 1 611px;
    margin-right: 10px;
  }

  &__list-bottom {
    justify-content: space-between;
  }

  &__players-btns {
    display: flex;
    border-right: 1px solid $shade-gray;
    // width: 100%;
    // max-width: 370px;
    min-width: 310px;
    flex: 0 1 370px;
  }

  &__player {
    width: 100%;
    // max-width: 175px;
    // min-width: 154px;


    padding: 3px 20px 3px 10px;
    &-svg {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  &__age {
    &::before {
      content: '12+';
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 12px;
      color: $text-gray;
    }
  }
}

// !MEDIA
@media (max-width: 1249px) {
  .header {
    &__section {
      &-top {
        display: block;
      }
    }

    &__logo-middle,
    &__age
    {
      display: none;
    }
  }
}

// *768px
@media (max-width: 1000px) {}
@media (max-width: 890px) {
  .header {
    &__nav-middle {
      display: none;
    }

    &__burger {
      display: flex;
    }

    &__players-btns {
      width: 40px;
      height: 40px;
      
      min-width: auto;
      flex: 0 0 auto;
      border: none;
    }
  
    &__player {
      &:first-child {
        display: none;
      }

      &-content {
        display: none;
      }
      border: none;
      padding: 0;
    }
  }
}

// *320px
@media (max-width: 580px) {
  .header {

    &__container-top {
      height: 54px;
    }

    &__container-middle {
      min-height: 50px;
    }

    &__container-bottom {
      // min-height: 60px;
      display: none;
    }

    &__login-top {
      display: inline-block;
    }

    &__login-middle {
      display: none;
    }

    &__btns-group {
      width: auto;
    }
  }
}
@media (max-width: 532px) {}
