<header class="header" id="header">
  <div class="header__section header__section-top header__section_bg_lite">
    <div class="header__container-top container">
      <img class="logo" src="../../../assets/images/logo/logo-black-small.svg" alt="W-Wave-Radio">
      <a class="btn btn_login header__login-top" href="#">Вход</a>
    </div>
  </div>
  <div class="header__section header__section-middle header__section_bg_white">
    <div class="header__container-middle container">
      <img class="logo header__logo-middle" src="../../../assets/images/logo/logo-black.svg" alt="W-Wave-Radio">
      <nav class="nav header__nav-middle">
        <ul class="nav__list header__list-middle">
          <li class="nav__item"><a class="link header__link-middle" href="#">Подкасты</a></li>
          <li class="nav__item"><a class="link header__link-middle" href="#">Передачи</a></li>
          <li class="nav__item"><a class="link header__link-middle" href="#">Гости</a></li>
          <li class="nav__item"><a class="link header__link-middle" href="#">Плейлисты</a></li>
          <li class="nav__item"><a class="link header__link-middle" href="#">О нас</a></li>
        </ul>
      </nav>
      <div class="header__btns-group">
        <button class="btn search">
          <svg class="search__svg" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11 19C15.4182 19 19 15.4183 19 11C19 6.58172 15.4182 3 11 3C6.58169 3 2.99997 6.58172 2.99997 11C2.99997 15.4183 6.58169 19 11 19Z" stroke="#6D31EE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M21 21L16.65 16.65" stroke="#6D31EE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
        <a class="btn btn_login header__login-middle" href="#">Вход</a>
      </div>
    </div>
  </div>
  <div class="header__section header__section-bottom header__section_bg_white">
    <div class="header__container-bottom container">
      <!-- <a class="btn btn_login header__login-middle" href="#">btn</a> -->
    </div>
  </div>
</header>