.search {
  width: 24px;
  height: 24px;
  & .search__svg path {
    transition-property: stroke;
    @include transition;
  }

  &:focus {
    outline: none;
  }
  &:focus .search__svg path {
    stroke: $primary-light;
  }
  &:hover .search__svg path {
    stroke: $primary-light;
  }
  &:active .search__svg path {
    stroke: $primary-shade;
  }
}
