.ac {
  & .ac-trigger {
    position: relative;
  }

  &-svg {
    transform: rotate(180deg);
    transition-property: transform, fill;
    @include transition;
  }

  & .ac-panel {
    overflow: hidden;
    transition-property: height, visibility;
    @include transition;
  }

  &.js-enabled .ac-panel {
    visibility: hidden;
  }

  &.is-active .ac-panel {
    visibility: visible;
  }

  &.is-active > .ac-header .ac-trigger &-svg {
    transform: rotate(360deg);
  }
}
